.edit-project-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form > div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"], input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .add-button, .save-button, .delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-button, .save-button {
    background-color: #007bff;
    color: white;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover, .save-button:hover {
    background-color: #0056b3;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  .milestone, .task {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .milestone-header, .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h3 {
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #007bff;
  }

  .suggestions-list {
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 150px; /* Adjust as needed */
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
  }
  
  .suggestions-list li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .suggestions-list li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }